/* ====================================
// css variables
// ==================================== */

:root {
  --black: #121212;
  --white: #fdfdfd;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  font-family: "acumin-pro-condensed";
  font-weight: normal;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

h1 {
  font-family: "gin";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 113px;
  letter-spacing: -1.94px;
  line-height: 91px;
  margin-bottom: -10px;
  margin-top: 20px;
}

h2 {
  font-family: "gin";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 1.25px;
}

h3 {
  font-family: "kaotizm";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 5px;
  margin-top: 30px;
}

p {
  text-transform: uppercase;
  font-family: "acumin-pro-condensed";
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.08px;
  line-height: 19px;
}

a {
  text-decoration: none;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: -7px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 57px;
    letter-spacing: -0.98px;
    line-height: 46px;
    margin-bottom: -5px;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 0.54px;
  }
  h3 {
    font-size: 25px;
    letter-spacing: 0.45px;
  }
  p {
    font-size: 14px;
    line-height: 15px;
  }
}

footer {
  margin-top: 40px;
}

main {
  margin-top: 50px;
}
