@font-face {
  font-family: "gin";
  src: url("../fonts/GIN_Regular.woff") format("woff"),
    url("../fonts/GIN_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

// font-family: "acumin-pro-condensed", sans-serif;
// font-weight: 400;
// font-style: normal;
