.layout-header-decoration {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 300px;
}

.layout-home-flex-1 {
  display: flex;
  flex-direction: column;
}

.layout-home-flex-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.layout-latest-margin {
  position: absolute;
  bottom: 0px;

  left: 50%;
  transform: translateX(-50%);
}

.layout-latest-container {
  position: relative;
}
@media (max-width: 1000px) {
  .layout-header-decoration {
    display: none;
  }
}

.layout-img-spacer {
  margin: 20px 0px;
}

.layout-block-spacer {
  margin-top: 20px;
}

.layout-bootstrap-txt-margin {
  margin: 5px 0px 10px 0px;
}

@media (max-width: 786px) {
  .layout-bootstrap-txt-margin {
    font-size: 14px;
    letter-spacing: -0.04px;
    line-height: 16px;
  }
}

.no-gutter {
  padding: 0;
  margin: 0;
}

.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.col-6.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.layout-personnal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layout-personnal-container img {
  width: 33%;
  margin: 10px;
}

.footer-info {
  font-family: "acumin-pro";
  font-size: 12px;
  letter-spacing: -0.84px;
  line-height: 12px;
}

.layout-footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.layout-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .layout-personnal-container img {
    width: 100%;
  }
  .layout-personnal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .layout-footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
  }
  .layout-footer-links {
    margin-top: 20px;
    align-items: flex-start;
  }
}
